
.Options {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Adjust height as needed */
  }

.containerGcash {
  display: flex;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  background-size: cover; 
  background-color: white;
  width: 500px; 
  height: 250px;
  background-position: center;
  justify-content: flex-end;
  box-shadow: 5px 10px 8px #888888;
}
.containerGcash:hover {
  background-color: rgb(201, 201, 201);
}

.textGcash {
  margin-left: 45px; /* Add some spacing between the image and the text */
  margin-right: 45px; /* Add some spacing between the image and the text */
  width: 400px;
}
.imagelogoG {
  width: 150px;
  border-radius: 10px;
  height: 250px;
}
.container-section {
  margin-top: -50px; /* Adjust margin-top to reduce space between header and containers */
}


.containerPaymaya {
  border-radius: 10px;
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  background-size: cover; 
  background-color: white;
  width: 500px;
  height: 250px;
  background-position: center;
  justify-content: flex-end;
  box-shadow: 5px 10px 8px #888888;
}
.containerPaymaya:hover {
  background-color: rgb(201, 201, 201);
}
.textmaya {
  margin-left: 45px; /* Add some spacing between the image and the text */
  margin-right: 45px; /* Add some spacing between the image and the text */
  width: 400px;
}
.imagelogoM {
  border-radius: 10px;
  width: 150px;
  height: 250px;
}
.instructions {
  position: absolute;
  top: 100px;
  font-style: italic;
 
}

.instructions h2{
text-align: center;
 
}

.containerBPI {
  display: flex;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  background-size: cover; 
  background-color: white;
  width: 500px;
  height: 250px;
  background-position: center;
  justify-content: flex-end;
  box-shadow: 5px 10px 8px #888888;
}
.containerBPI:hover {
  background-color: rgb(201, 201, 201);
}
.textbpi {
  margin-left: 45px; /* Add some spacing between the image and the text */
  margin-right: 45px; /* Add some spacing between the image and the text */
  width: 400px;
}
.imagelogobpi {
  width: 150px;
  border-radius: 10px;
  height: 250px;
}

.containerBDO {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  background-size: cover; 
  background-color: white;
  width: 500px;
  height: 250px;
  background-position: center;
  justify-content: flex-end;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
}

.containerBDO:hover {
  background-color: rgb(201, 201, 201);
}
.textbdo {
  margin-left: 45px; /* Add some spacing between the image and the text */
  margin-right: 45px; /* Add some spacing between the image and the text */
  width: 400px;
}
.imagelogobdo {
  width: 150px;
  height: 250px;
  border-radius: 10px;
}
.exitButton{
  display:flex;
  position: absolute;
  bottom: 80px;
  width: 150px;
  left: 670px;
  height: 35px;
  background-color: #740000 ;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  
}

.exitButton:hover{
  background-color: #4b0000 ;
}


.logoO {
  margin-left: 20px;
  width: 350px;
}

.back-button {
  margin-right: 1000px;
  position: absolute;
  top: 130px;
}

.circle {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #000; /* Change less-than sign color to black */
  text-decoration: none; 
}

.back-button a {
  text-decoration: none; /* Remove underline */
  
}
.containerC-wrapper {
  position: absolute; /* Use absolute positioning */
  display: flex;
  justify-content: space-around;
  width: 100%;
  top: 230px; /* Adjust the top position to 0 to move it to the top */
}


