body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow: hidden;
}
  
#containerD {
    display: flex;
    height: 100vh;
}
  
#sidebarD {
    width: 50px;
    background-color: #740000 !important;;
    color: #fff;
    padding: 20px 10px;
    transition: width 0.3s ease;
    position: relative; /* Added position relative */
    overflow-y: auto;
    overflow-x: hidden;
}
  
#sidebarD:hover {
    width: 250px;
}
#sidebarD ul .dropdown-toggle {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
  }
  
  #sidebarD ul .dropdown-menu {
    padding-left: 20px;
  }
  
  #sidebarD ul .dropdown-menu li {
    margin-bottom: 10px;
  }
  
  #sidebarD ul .dropdown-menu li a.no-hover:hover {
    background-color: transparent !important;
    padding-left: 10px;
  }
  
#logoD {
    width: 1px; /* Adjust width as needed */
    height: 1px; /* Adjust height as needed */
    align-items: center;
}
  
#sidebarD h2 {
    margin-top: 0;
    margin-bottom: 20px;
    visibility: visible; /* Hide the text initially */
    transition: visibility 0.3s; /* Delay visibility change to match width transition */
}
  
#sidebarD:hover h2 {
    visibility: visible; /* Show the text on hover */
}
  
#sidebarD ul {
    padding: 0;
    list-style-type: none;
}
  
#sidebarD ul li {
    margin-bottom: 10px;
    opacity: 0; /* Hide the text initially */
    transition: opacity 0.3s ease;
}
  
#sidebarD:hover ul li {
    opacity: 1; /* Show the text on hover */
}
  
#sidebarD ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: padding 0.3s ease;
    font-size: 20px;
}
  
#sidebarD ul li a:hover {
    background-color: #490000 !important;;
    padding-left: 30px;
}
  
#contentD {
    flex: 1;
    padding: 20px;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}
  
#user-list {
    border-collapse: collapse;
    width: 100%;
}
  
 #user-list th,
#user-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
#user-list th {
    background-color: #333;
    color: #fff;
}
  
.menu-icon {
    margin-right: 10px;
  }
  
/* Modal CSS */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 3px solid #888;
  max-width: 500px;
}
  
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Locate Button */
.locate-button {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.locate-button:hover {
  background-color: #138496;
}

.print-button {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.print-button:hover {
  background-color: #138496;
}
.add-donation-button {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #4f0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-donation-button:hover {
  background-color: #380000;
}

.add-cabinet-button {

  background-color: #4f0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-cabinet-button:hover {
  background-color: #380000;
}

/* Select Dropdown Styling */
.location-select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
  background-color: #fff;
  appearance: none;
}


/* Dropdown Menu Styles */
.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}
.submit-buttonAdd {
  margin-left: 315px;
}
.submit-buttonLoc {
  margin-left: 50px;
}
/* From Uiverse.io by mrhyddenn */ 
.loader {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  font-size: 15px;
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  display: block;
}

.loader_bubble::before {
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}

.loader_bubble {
  background: linear-gradient(180deg, rgb(0, 91, 228) 10%, rgb(75, 127, 240) 100%);
  border-radius: 50%;
  transform-origin: 50% 50%;
  animation: bubble7234 1200ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@keyframes bubble7234 {
  0% {
    transform: translate3d(0,0,0) rotate(0);
  }

  100% {
    transform: translate3d(0,0,0) rotate(360deg);
  }
}